<a href="https://colab.research.google.com/github/Navjotkarkhal/TR-102-/blob/main/Day_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Today i Learn

**Python with Object Oriented Programming**

In [1]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

In [ ]:
class Dog:
  attr1 = "mammal"
  def __init__(self,name):
    self.name = name

Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

print("My name is {}".format(Rodger.__class__.attr1))
print("My name also is {}".format(Tommy.__class__.attr1))

print("My name is {}".format(Rodger.name))
print("my name is {}".format(Tommy.name))

My name is mammal
My name also is mammal
My name is Rodger
my name is Tommy

In [2]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [3]:
class student:
  def __init__(self, name, Roll_No) :
    self.name = name
    self.Roll_No = Roll_No

s1 = student("Navjot",120)
print(s1.name)
print(s1.Roll_No)

Navjot
120

In [9]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("Navjot", 19)

print(p1)

Navjot(19)

In [8]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Navjot", 19)
p1.myfunc()

Hello my name is Navjot