<a href="https://colab.research.google.com/github/Navjotkarkhal/TR-102-/blob/main/Day_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

The result format is in the following example.

Example 1:

Input:
student_data:
[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
Output:
+------------+-----+
| student_id | age |
+------------+-----+
| 1          | 15  |
| 2          | 11  |
| 3          | 11  |
| 4          | 20  |
+------------+-----+

In [1]:
import pandas as pd

def createDataframe(student_data):
    # Create a DataFrame
    df = pd.DataFrame(student_data, columns=['student_id', 'age'])
    return df

# Example usage:
student_data = [
    [1, 15],
    [2, 11],
    [3, 11],
    [4, 20]
]

# Creating the DataFrame
result_table = createDataframe(student_data)

# Display the DataFrame
print(result_table)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

DataFrame players:

+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| player_id   | int    |
| name        | object |
| age         | int    |
| position    | object |
| ...         | ...    |
+-------------+--------+

Write a solution to calculate and display the number of rows and columns of players.


Return the result as an array:

[number of rows, number of columns]

The result format is in the following example.

In [9]:
import pandas as pd
from typing import List

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    # Get the shape of the DataFrame
    rows, columns = players.shape
    # Return the number of rows and columns as a list
    return [rows, columns]

# Example usage:
players_data = {
    'player_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, 30, 22, 29],
    'position': ['Forward', 'Midfielder', 'Defender', 'Goalkeeper']
}

# Create a DataFrame
players = pd.DataFrame(players_data)

# Get the size of the DataFrame
size = getDataframeSize(players)

# Print the size
print(size)  # Output: [4, 4]

[4, 4]