<a href="https://colab.research.google.com/github/Navjotkarkhal/TR-102-/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating a Dictionary**

In [ ]:
dis={'name':'red','age':10}
print(dis)
print(dis['name'])
print(list(dis.values()))

{'name': 'red', 'age': 10}
red
['red', 10]

**Modify** Dictionary

In [ ]:
d = dict([('Name', 'Diksha'),('Age', '21')])
d
d['H.No'] = 42
d['new_list'] = [1,2,3]
d['new_dict'] = {'nested_dict':1}
d['ph.No'] = 123454
print(d)

{'Name': 'Diksha', 'Age': '21', 'H.No': 42, 'new_list': [1, 2, 3], 'new_dict': {'nested_dict': 1}, 'ph.No': 123454}

In [ ]:
#clear method

my_dict = {'1':'Navjot Kaur','2':'Akash','3':'Jyoti'}
my_dict.clear()
print(my_dict)

{}

In [ ]:
#get method
my_dict = {'1':'Navjot Kaur','2':'Akash','3':'Jyoti'}
print(my_dict.get('1'))
print(my_dict.get('2'))
print(my_dict.get('3'))

Navjot Kaur
Akash
Jyoti

In [ ]:
my_dict = {'1':'Navjot Kaur','2':'Akash','3':'Jyoti'}
print((my_dict.items()))
print(list(my_dict.items())[1][1])

dict_items([('1', 'Navjot Kaur'), ('2', 'Akash'), ('3', 'Jyoti')])
Akash

In [ ]:
my_dict = {'1':'Navjot Kaur','2':'Akash','3':'Jyoti'}
print(my_dict.keys())

dict_keys(['1', '2', '3'])

In [1]:
my_dict = {'1':'Navjot Kaur','2':'Akash','3':'Jyoti'}
print(my_dict.values())

dict_values(['Navjot Kaur', 'Akash', 'Jyoti'])

In [2]:
d1 = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d2 = {'Name': 'Neha', 'Age': '22'}
d1.update(d2)
print(d1)

{'Name': 'Neha', 'Age': '22', 'Country': 'India'}

In [3]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India'}
d.pop('Age')
print(d)

{'Name': 'Ram', 'Country': 'India'}

In [4]:
d = {'Name': 'Ram', 'Age': '19', 'Country': 'India', 'Gender':'Male'}
d.popitem()
print(d)

{'Name': 'Ram', 'Age': '19', 'Country': 'India'}

**Practice Questions on Dictionary**

Problem 1 : a) Create a dictionary named student with keys "name," "age," and "grade," and assign
appropriate values.
b) Update the "grade" to a new value.
c) Add a new key-value pair for "subject" and its corresponding value.

In [10]:
Student = {'name':'navjot','age':19,'grade':'A'}
Student1 = {'grade':'A+'}
Student.update(Student1)
print(Student)
Student['Subject'] = 'math'
print(Student)

{'name': 'navjot', 'age': 19, 'grade': 'A+'}
{'name': 'navjot', 'age': 19, 'grade': 'A+', 'Subject': 'math'}

List Slicing

**Dictionary Manipulation:**
Create two dictionaries, dict1 and dict2 , with at least three key-value pairs each.

Merge these dictionaries into a new dictionary called merged_dict .

Remove a key from merged_dict .

Check if a specific key exists in dict1 .

In [14]:
dict1 = {'1': 'apple', '2': 'banana', '3': 'cherry'}
dict2 = {'4': 'apple', '5': 'banana', '6': 'cherry'}

# Merge dict1 and dict2
merged_dict = {**dict1, **dict2}

# Remove the key '5'
merged_dict.pop('5')

# Print the resulting dictionary
print(merged_dict)

{'1': 'apple', '2': 'banana', '3': 'cherry', '4': 'apple', '6': 'cherry'}